@model FollowPeers.Models.RegisterModel
@using WebMatrix.Data;


@using (Html.BeginForm("Register", "Account"))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
           
    <div class="controls">

        <!--   <p>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName) 
         </p> -->
        <input type="hidden" name="UserName" id="UserName" value="0" />

        <p>
            @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </p>

        <p>
            @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.LastName)
        </p>


        <p>
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.Email)

        </p>


        <p>
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Create Password*", @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.Password)
        </p>


        <p>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "input-xlarge" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </p>


        <p>
            @{List<string> profession = new List<string>();
              profession.Add("Individual");
              profession.Add("Company");
            }
            @Html.DropDownList("Profession", new SelectList(profession))
        </p>
        <input class="btn btn-success" type="submit" value="Sign Up" style="font-family:'Segoe UI';font-weight:bold;width:130px;align-content:center;"/>
       <p style="font-size: x-small">
           *Min 6 characters, at least 1 non-alphanumeric

       </p>

    </div>
    
            
    
@* <fieldset class="login">
            <legend>Social Sign On</legend>
            <p class="notice">or, user your existing social identities...</p>
            <p>Login via facebook, twitter, linkedIn, Google coming soon...</p>
      </fieldset>*@
}
