@model IEnumerable<FollowPeers.Models.Course>
@using WebMatrix.Data;
@using FollowPeers.Models;

@{
    ViewBag.Title = "Browse Courses";
}

@*Container*@
<div class="container">

    @*rows within container*@
    <div class="span8 main-content">
        <div class="rpw">
            <span class="label label-info">Number of Courses: @Model.Count()</span>
        </div>
        <div class="row">
            @{
                if (Model.Count() != 0)
                {
                
                <table class="span7">

                    @foreach (var item in Model)
                    {
                        string mouseid1 = "#mouse" + @item.CourseId;
                        string mouseid2 = "mouse" + @item.CourseId;
                
                        <tr>
                            <td>

                                <div style="border-bottom: 1px solid grey; margin: 10px 0px;">
                                    <div style="float: left;" id="mouse" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="@mouseid1" >
                                        @*@if (item.PhotoUrl != "" && item.PhotoUrl != null)
                                            {
                                                <img class="mouseover" src="../../Content/Files/@item. UserProfile.UserName/Publications/@item.imagename" alt="" style="margin-left: auto; margin-right: auto;width: 50px;"/>
                                            }
                                            else
                                            {*@
                                        <img src="../../Content/images/Pub1.png" alt="" style="margin-left: auto; margin-right: auto; width: 50px;" />
                                        @*}*@
                                    </div>
                                    <div style="margin-left: 8px; float: left;">
                                        <a href="/Course/Details/@item.CourseId" id="title"><b>@item.CourseName</b></a>
                                        <div>Description: @item.CourseDescription</div>
                                    </div>

                                </div>
                                <hr />
                            </td>
                        </tr>
   
                    }
                </table>
                }
                else
                {
                <span class="label label-info">Number of courses: @Model.Count()</span>
                }
            }
        </div>

    </div>

    
</div>




