@model FollowPeers.Models.UserProfile 
@{
    ViewBag.Title = "View Profile";
}

<head>
    <title>Edit Profile</title>
    <style>
        .left-col
        {
            width: 300px;
            padding-right: 5px;
        }

        .right-col
        {
            width: 300px;
            padding-left: 5px;
        }

        .same-page-links ul
        {
            padding-left: 0px;
            padding-right: 10px;
            margin: 0px;
        }

            .same-page-links ul a
            {
                /* The following four lines are to make the top left and top right corners of the content area rounded. */
                -moz-border-radius-topleft: 4px;
                border-top-left-radius: 4px;
                -moz-border-radius-topright: 4px;
                border-top-right-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                border-bottom-left-radius: 4px;
                -moz-border-radius-bottomright: 4px;
                border-bottom-right-radius: 4px;
                margin-left: 0px;
                padding-left: 10px;
                padding-right: 10px;
                border: solid;
                border-width: 1px;
                border-color: #45aeea;
                font-weight: bold;
                color: #45aeea;
                margin-right: 5px;
            }

        .editor-label
        {
            color: #45aeea;
        }
    </style>
</head>

@*Container*@
<div class="container">

    @*rows within container*@
    <div class="row">


        @*Main Content*@
        <div class="span8 main-content">
            <div class="box">

                @Html.ValidationSummary(true)
                <fieldset>
                    <a id="personal_section"></a>
                    <legend>Personal</legend>

                    <table>
                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.FirstName)
                                </div>
                                <div class="editor-field">
                                    @Html.Label(Model.FirstName)
                                </div>
                            </td>
                            <td class="right-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.LastName)
                                </div>
                                <div class="editor-field">
                                    @Html.Label(Model.LastName)
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Gender)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Gender != "")
                                    {
                                        @Html.Label(Model.Gender)
                                    }
                                </div>
                            </td>
                            <td class="right-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Status, "Marital Status")
                                </div>
                                <div class="editor-field">

                                    @if (Model.Status == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else {
                                       @Html.Label(Model.Status) 
                                    }
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Birthday)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Birthday != null)
                                    {
                                        DateTime bdaytime = (DateTime) Model.Birthday;
                                        DateTime date = bdaytime.Date;
                                        @Html.Label(date.ToString("MM-dd-yyyy")) 
                                    }
                                    else
                                    {
                                        @Html.Label("NA")  
                                    }
                                </div>
                            </td>
                            
                        </tr>

                    </table>

                    <div class="editor-label" style="width: 100%;">
                        <label for="AboutMe">About Me</label>
                    </div>

                    <div class="editor-field" style="">
                        @if (Model.AboutMe == null)
                        {
                            @Html.Label("NA")
                        }
                        else
                        {
                            @Html.Label(Model.AboutMe)
                        }

                    </div>
                </fieldset>

                <fieldset>
                    <a id="contact_section"></a>
                    <legend>Contact Information</legend>

                    <table>
                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Street1, "Address Line1")
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Street1 == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Street1)
                                    }

                                </div>
                            </td>
                            <td class="right-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Street2, "Address Line2")
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Street2 == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Street2)
                                    }

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.City)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.City == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.City)
                                    }

                                </div>
                            </td>
                            <td class="right-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Country)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Country == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Country)
                                    }


                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="left-col">

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Mobile)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Mobile == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Mobile)
                                    }

                                </div>
                            </td>
                            <td class="right-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Phone)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Phone == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Phone)
                                    }

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Fax)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Fax == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Fax)
                                    }

                                </div>
                            </td>
                            <td class="right-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Email)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Email == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Email)
                                    }

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="left-col"></td>
                            <td class="right-col"></td>
                        </tr>

                        <tr>
                            <td class="left-col">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Contact.Website)
                                </div>
                                <div class="editor-field">
                                    @if (Model.Contact.Website == null)
                                    {
                                        @Html.Label("NA")
                                    }
                                    else
                                    {
                                        @Html.Label(Model.Contact.Website)
                                    }

                                </div>
                            </td>
                            <td class="right-col"></td>
                        </tr>

                    </table>


                </fieldset>

                <fieldset>

                    <legend>Educational History</legend>

                    @{
                        int numOfInstitutions = Model.Educations.Count;
                        if (numOfInstitutions <= 0)
                        {
                        @Html.Label("No records to display");
                        }

                        else
                        {
                            foreach (var E in Model.Educations)
                            {
                               
                       

                        <div class="editor-label">
                            Institution
                        </div>
                        <div class="editor-field">

                            @if (E.UniversityName == null)
                            {
                                @Html.Label("NA")
                            }
                            else
                            {
                                @Html.Label(E.UniversityName)
                            }

                        </div>
                        <div class="editor-label">
                            Country
                        </div>
                        <div class="editor-field">

                            @if (E.country == null)
                            {
                                @Html.Label("NA")
                            }
                            else
                            {
                                @Html.Label(E.country)
                            }
                        </div>
                        <div class="editor-label">
                            Degree
                        </div>
                        <div class="editor-field">
                            @if (E.Degree == null)
                            {
                                @Html.Label("NA")
                            }
                            else
                            {
                                @Html.Label(E.Degree)
                            }
                        </div>

                        <div class="editor-label">
                            Start Year (yyyy)
                        </div>
                        <div class="editor-field">
                            @if (E.startYear == null)
                            {
                                @Html.Label("NA")
                            }
                            else
                            {
                                @Html.Label(E.startYear.ToString())
                            }
                        </div>
                        <div class="editor-label">
                            End Year (yyyy)
                        </div>
                        <div class="editor-field">
                            @if (E.endYear == null)
                            {
                                @Html.Label("NA")
                            }
                            else
                            {
                                @Html.Label(E.endYear.ToString())
                            }
                        </div>
                           
            
                                
                            }
                        }
                    }

                </fieldset>

                <fieldset>
                    <a id="professional_section"></a>
                    <legend>Professional</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Organization, "Organization")
                    </div>
                    <div class="editor-field">
                        @if (Model.Organization == null)
                        {
                            @Html.Label("NA")
                        }
                        else
                        {
                            @Html.Label(Model.Organization)
                        }
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Departments, "Department")
                    </div>
                    <div class="editor-field">
                        @if (Model.Departments == null)
                        {
                            @Html.Label("NA")
                        }
                        else
                        {
                            @Html.Label(Model.Departments)
                        }
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Specializations, "Field(s) of Interest")
                    </div>
                    <div class="editor-field" style="float: left; width: auto">
                        @{
                            if (Model.Specializations.Count <= 0) {
                            @Html.Label("None")
                        }
                        else {

                            foreach (var F in Model.Specializations) {
                                @Html.Label(F.SpecializationName)
                            }
                        }
                        }

                    </div>

                </fieldset>




            </div>
        </div>


    </div>

</div>

@*<ul id="SpecializationIdmenu" class="mcdropdown_menu" style="left:495px;">
@{  
    FollowPeers.Models.FollowPeersDBEntities db = new FollowPeers.Models.FollowPeersDBEntities();
    IQueryable<string> Query = (from entry in db.Specializations orderby entry.Field select entry.Field).Distinct();

    foreach (string entry in Query)
    {
        IQueryable<FollowPeers.Models.Specialization> Query2 = from specialization in db.Specializations orderby specialization.Field where specialization.Field == entry select specialization;
        <li>@entry
        <ul>
        @foreach (FollowPeers.Models.Specialization specialization1 in Query2)
        {
            <li rel="@specialization1.SpecializationId" id="@specialization1.SpecializationId">@specialization1.SpecializationName</li>
        }
        </ul></li>
    }
    
}*@


