@model FollowPeers.Models.UserProfile 
@{
    ViewBag.Title = @Model.FirstName + " " + @Model.LastName + " Update Your Profile";
}

<head>
    <title>Complete your Profile</title>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tools.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.bgiframe.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mcdropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.rte.js")" type="text/javascript"></script>
    <link href="/Content/css/rte.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../Content/css/jquery.mcdropdown.css" />


    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#Country").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Profile/FindCountryNames", type: "POST", dataType: "json",
                        data: { searchText: request.term, maxResults: 10 },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name, id: item.CountryId }
                            }))
                        }
                    })
                },
            });


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            counter = 0;
            if ($('#Edu0').length) { AutoComplete(0); counter++; $('#Delete0').click(function () { Delete(0); }); }
            if ($('#Edu1').length) { AutoComplete(1); counter++; $('#Delete1').click(function () { Delete(1); }); }
            if ($('#Edu2').length) { AutoComplete(2); counter++; $('#Delete2').click(function () { Delete(2); }); }
            $('#Add').click(function () { AddField(); });
            if (counter == 0) AddField();
            function AutoComplete(id) {
                $("#Organization" + id).autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Profile/FindOrganizationNames", type: "POST", dataType: "json",
                            data: { searchText: request.term, maxResults: 10 },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.Name, value: item.Name, id: item.OrganizationId }
                                }))
                            }
                        })
                    },
                });

                $("#Country" + id).autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Profile/FindCountryNames", type: "POST", dataType: "json",
                            data: { searchText: request.term, maxResults: 10 },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.Name, value: item.Name, id: item.CountryId }
                                }))
                            }
                        })
                    },
                });
            }


            function AddField() {
                if (counter >= 3) alert("You can add a maximum of 3 Education Records");
                else {
                    var name;
                    if (!($('#Edu0').length)) name = 0;
                    else if (!($('#Edu1').length)) name = 1;
                    else if (!($('#Edu2').length)) name = 2;
                    $('#EducationFields').append("<div id='Edu" + name + "'><fieldset><legend>Education History</legend><div id='Delete" + name + "'  style='float: right;background: lightGrey;color: dimGray;padding: 0px 6px;cursor: pointer;' title='Click to delete this record.'>x</div><div class='editor-label'>Institution</div><div class='editor-field'> <input type='text' id='Organization" + name + "' name='Organization' style='margin-left:2px;width:210px'  /> </div><div class='editor-label'>Country</div><div class='editor-field'><input type='text' name='Country' id='Country" + name + "' /></div><div class='editor-label'>Degree</div><div class='editor-field'><input type='text' name='Degree'  /></div> <div class='editor-label'> Start Year (yyyy)</div><div class='editor-field'><input type='text' name='startYear'  /></div><div class='editor-label'>End Year (yyyy)</div><div class='editor-field'><input type='text' name='endYear' /> </div></fieldset></div>");
                    $('#Delete' + name).click(function () { Delete(name); });
                    counter++;
                    AutoComplete(name);

                }
            }
            function Delete(id) {

                if ($('#Edu' + id).length) {
                    $('#Edu' + id).slideUp('fast', function () { $('#Edu' + id).remove(); });
                    counter--;
                }
            }
        });
    </script>

    <script type="text/javascript" language="javascript">


        function encodeComment() {
            document.getElementById("#TextArea").value = htmlEncode(document.getElementById("#TextArea").value);
        }
        function htmlEncode(str) {
            // This must be done in a proper order to achive desired results.
            str = this.replaceAll(str, "&", "&amp;");
            str = this.replaceAll(str, "<", "&lt;");
            str = this.replaceAll(str, ">", "&gt;");
            str = this.replaceAll(str, " ", "&nbsp;");
            return str;
        }
        function replaceAll(str, subStr, newStr) {
            var offset = 0;
            var index = str.indexOf(subStr);
            while (index != -1) {
                str = str.substr(0, index) + newStr + str.substr(index + subStr.length);
                offset = index + newStr.length;
                index = str.indexOf(subStr, offset);
            }
            return str;
        }

        var dd, val;
        $(document).ready(function () {
            $(".rte-zone").rte("/Content/css/rte.css", "/Content/css/images/");
            $(":input[data-datepicker]").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
                yearRange: '1920:1996'
            });


            var options = new Object();
            options.select = select_handler;
            options.init = init;
            var counter = 0;
            var interest = new Array(3);
            var exceeded = 0;
            var int1 = 0, int2 = 0, int3 = 0;
            function deletenode(num) {
                $('#interest' + num).slideUp('slow', function () { $('#interest' + num).remove(); });
                counter--;
                if (num == 1) int1 = 0;
                if (num == 2) int2 = 0;
                if (num == 3) int3 = 0;
            }

            if ($("#interest1").length) {
                int1 = 1;
                interest[0] = $("input[id='Specialization1.Specializationid']").val();
                //alert(interest[0]);
                counter++;
                $('#delete1').click(function () { deletenode(1); });
            }
            if ($("#interest2").length) {
                int2 = 1;
                interest[1] = $("input[id='Specialization2.Specializationid']").val();
                counter++;
                $('#delete2').click(function () { deletenode(2); });
            }
            if ($("#interest3").length) {
                int3 = 1;
                interest[2] = $("input[id='Specialization3.Specializationid']").val();
                counter++;
                $('#delete3').click(function () { deletenode(3); });
            }
            $("#SpecializationId").mcDropdown("#SpecializationIdmenu", options);

            function init() {
                dd = $("#SpecializationId").mcDropdown();
                $("#Organization").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Profile/FindOrganizationNames", type: "POST", dataType: "json",
                            data: { searchText: request.term, maxResults: 10 },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.Name, value: item.Name, id: item.OrganizationId }
                                }))
                            }
                        })
                    },
                });
                $("#Departments").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Profile/FindDepartmentNames", type: "POST", dataType: "json",
                            data: { searchText: request.term, maxResults: 10 },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.Name, value: item.Name, id: item.DepartmentId }
                                }))
                            }
                        })
                    },
                });
            }


            function select_handler() {
                val = dd.getValue();
                //alert(val);
                var value = val.toString().substring(0, val.toString().search(','));

                if ((value != interest[0]) && (value != interest[1]) && (value != interest[2]) && (counter != 3)) {

                    var texttoappend = $("li[ id = " + value + " ]").text();
                    if (texttoappend.length < 60) {
                        counter++;
                        var tempnum;
                        if (int1 == 0) { tempnum = 1; int1 = 1; }
                        else if (int2 == 0) { tempnum = 2; int2 = 1; }
                        else if (int3 == 0) { tempnum = 3; int3 = 1; }
                        interest[counter - 1] = value;
                        $('#interest').append("<div id='interest" + tempnum + "' style='width:100%;display:none'><div class='editor-label'><label>Interest</label></div><div class='editor-field' style='height:20px; border-bottom: 1px solid #CCC;width: 50%; float:left'>" + texttoappend + "</div><div id='delete" + tempnum + "' style='color:#666;cursor:pointer;'>x</div><div style='clear:both'></div></div>");
                        $('#interest' + tempnum).append("<input name='Specialization' id ='Specialization" + tempnum + "_Specializationid' type='hidden' value='" + value + "'>");
                        $('#interest' + tempnum).slideToggle("slow");

                        $('#delete' + counter).click(function () { deletenode(counter); });
                    }
                }
                else if ((counter == 3) && (value != interest[0]) && (value != interest[1]) && (value != interest[2])) {
                    exceeded = 1;
                    $('#notification').html("You can enter a maximum of 3 research interests");
                    $('#notification').slideDown("slow");
                }
            }
        });
    </script>

    <style>
        .left-col
        {
            width: 300px;
            padding-right: 5px;
        }

        .right-col
        {
            width: 300px;
            padding-left: 5px;
        }

        .same-page-links ul
        {
            padding-left: 0px;
            padding-right: 10px;
            margin: 0px;
        }

            .same-page-links ul a
            {
                /* The following four lines are to make the top left and top right corners of the content area rounded. */
                -moz-border-radius-topleft: 4px;
                border-top-left-radius: 4px;
                -moz-border-radius-topright: 4px;
                border-top-right-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                border-bottom-left-radius: 4px;
                -moz-border-radius-bottomright: 4px;
                border-bottom-right-radius: 4px;
                margin-left: 0px;
                padding-left: 10px;
                padding-right: 10px;
                border: solid;
                border-width: 1px;
                border-color: #45aeea;
                font-weight: bold;
                color: #45aeea;
                margin-right: 5px;
            }
    </style>
</head>

@*Header*@
@Html.Partial("_Header")
@*Container*@
<div class="container">

    @*rows within container*@
    <div class="row">
        @*Left Sidebar*@
        @Html.Partial("_ProfilePhotoSidebar")

        @*Main Content*@
        <div class="span8 main-content">
            <div class="box">
 
                <h2>Update Your Profile</h2>
                @if (Model.firsttime == true)
                {
                    Model.firsttime = false;
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Complete Your Profile!</strong>
                    </div>
                }
                @{var message = ViewData["message"];}

                <div>
                    @Html.Partial("ProfileAboutTabViewWithEdit")
                </div>


            </div>

        </div>


    </div>

    <div class="row">
        @Html.Partial("_Footer")
    </div>

</div>

