@model FollowPeers.Models.UserProfile
@using FollowPeers.Models;
@{
    
   
    bool ownProfile = false; //assume this is not your own profile
    bool confirmedPeer = false; //assume you are not a peer of the user either


    //bool showOnlyAbout = true; //deafault value
    //bool toCheck = true;

    FollowPeers.Models.FollowPeersDBEntities followPeersDB = new FollowPeers.Models.FollowPeersDBEntities();
    //List<FollowPeers.Models.Achievement> myAchievements = followPeersDB.Achievements.Where(p => p.UserProfileId == Model.UserProfileId).ToList();

    string name = Membership.GetUser().UserName;
    FollowPeers.Models.UserProfile myprofile = followPeersDB.UserProfiles.SingleOrDefault(p => p.UserName == name);

    string firstName = Model.FirstName;
    string lastName = Model.LastName;
    ViewBag.Title = firstName + " " + lastName + "'s Profile";

    if (Model.UserProfileId == myprofile.UserProfileId)
    {
        //this is your own profile
        ownProfile = true;
    }

    else
    {
        //not your own profile
        if (ViewBag.Alreadyfollowed == 1)
        {
            //you follow this person
            confirmedPeer = true;
        }
        else
        {
            // you do not follow this person
            confirmedPeer = false;
        }

    }
    

}

<head>
    <title>Profile</title>
    <style media="screen" type="text/css">
        .profilepagetabs ul
        {
            padding: 0px;
            margin: 0px;
            margin-left: 0px;
            width: 180px;
        }

            .profilepagetabs ul li
            {
                display: block;
                height: auto;
                width: 180px;
                text-align: center;
                padding-top: 2px;
                padding-bottom: 2px;
            }

                .profilepagetabs ul li a
                {
                    /* The following four lines are to make the top left and top right corners of the content area rounded. */
                    -moz-border-radius-topleft: 4px;
                    border-top-left-radius: 4px;
                    -moz-border-radius-topright: 4px;
                    border-top-right-radius: 4px;
                    -moz-border-radius-bottomleft: 4px;
                    border-bottom-left-radius: 4px;
                    -moz-border-radius-bottomright: 4px;
                    border-bottom-right-radius: 4px;
                    margin-left: 0px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border: solid;
                    border-width: 1px;
                    border-color: #45aeea;
                    font-weight: bold;
                    color: #45aeea;
                }

                    .profilepagetabs ul li a:hover
                    {
                        text-decoration: underline;
                    }


        .profilepagetabs li.current a
        {
            background-color: #45aeea;
            color: white;
        }
    </style>
</head>

@*Header*@
@Html.Partial("_Header")
@*Container*@
<div class="container">

    @*rows within container*@
    <div class="row">

        <div class="span2">
            @*Left Sidebar*@
            <div id="profile_photo">
                @{
                
                    if (ownProfile == true)
                    {
                    @Html.Partial("_SideBar_ProfilePage", new ViewDataDictionary { { "Name", myprofile.FirstName + " " + myprofile.LastName } })

                    }
                    else
                    {
                    @Html.Partial("_SideBar_ProfilePage", new ViewDataDictionary { { "PhotoUrl", @Model.PhotoUrl }, { "ProfileName", @Model.UserProfileId }, { "Name", @Model.FirstName + " " + Model.LastName } })
 
                    }
                }
            </div>
            <br />


            <div class="menu nav nav-tabs nav-stacked" style="list-style: none; margin-top: 15px;">
                @{
                    
                    if (ownProfile == true || confirmedPeer == true)
                    {
                        //this is either your profile or someone you follow
                    
                    <div class="profilepagetabs" style="border: none;">
                        <ul class="menu nav nav-tabs nav-stacked" style="list-style: none; margin-top: 15px;">
                            <li class="current" id="li_noticeboard" onclick="tabresponse('noticeboard')">
                                <a><i class="icon-home" style="float: left;"></i>
                                    Notice Board
                                </a>
                            </li>
                            <li id="li_photos" onclick="tabresponse('photos')"><a>
                                <i class="icon-picture" style="float: left;"></i>Photos</a></li>
                            <li id="li_publications" onclick="tabresponse('publications')"><a>
                                <i class="icon-book" style="float: left;"></i>Publications</a></li>
                            <li id="li_jobs" onclick="tabresponse('jobs')"><a>
                                <i class="icon-file" style="float: left;"></i>Jobs</a>
                            </li>
                            <li id="li_courses" onclick="tabresponse('courses')"><a>
                                <i class="icon-tag" style="float: left;"></i>Courses</a></li>
                            <li id="li_about" onclick="tabresponse('about')"><a>
                                <i class="icon-pencil" style="float: left;"></i>About</a></li>
                        </ul>
                    </div>
                    }
                    else
                    {

                        //stranger
                        
                    <div class="profilepagetabs" style="border: none;">

                        <ul class="menu nav nav-tabs nav-stacked" style="list-style: none; margin-top: 15px;">
                            <li class="current" onclick="tabresponse('about')"><a>ABOUT</a></li>
                        </ul>
                    </div>
                    
                    }
                    
                }
            </div>

        </div>


        <div class="span9 main-content">
            <div class="box">
                @{
                    if (ownProfile == true)
                    {

                    }

                    else if (confirmedPeer == true)
                    {
                    <div style="margin: 0px">
                        @using (Html.BeginForm("UnFollow", "Profile", new { url = HttpContext.Current.Request.Url.AbsoluteUri }))
                        {
                            <input type="hidden" name="username" value="@Model.UserName" />
                            <input class="btn btn-primary" type="submit" value="UnFollow" style="margin-top: 15px;" />
                        }
                    </div>
                    }

                    else
                    {
                    <div style="margin: 0px">
                        @using (Html.BeginForm("Follow", "Profile", new { url = HttpContext.Current.Request.Url.AbsoluteUri }))
                        {  
                            <input type="hidden" name="username" value="@Model.UserName" />
                            <input class="btn btn-primary" type="submit" value="Follow" />
                        }
                    </div>
                    }
                    
                }




                @if (Model.activated == true)
                {
                    
                    <div>
                        @if (Membership.GetUser().UserName == Model.UserName)
                        {
                            @Html.Partial("SimplePostBar")
                            <hr />

                        }
                    </div>

                    <div runat="server" id="noticeboard">
                        <h3>Updates from @Html.Raw(firstName)</h3>
                        @Html.Partial("ProfileNoticeBoardTabView")
                    </div>
                    
                    <div id="photos" style="display: none;">


                        <h3 style="display: inline-block;">@Html.Raw(Model.FirstName)'s Photos</h3>


                        @Html.Partial("ProfilePhotoTabView")

                    </div>
                    
                    <div id="publications" style="display: none;">

                        <h3 style="display: inline-block;">@Html.Raw(firstName)'s Publications</h3>


                        @Html.Partial("ProfilePublicationTabView", Model.Publication)
                    </div>
                    
                    <div id="jobs" style="display: none;">

                        <h3 style="display: inline-block;">@Html.Raw(firstName)'s Jobs</h3>


                        @Html.Partial("ProfileJobsTabView", Model.Jobs)
                    </div>
                        
                    <div id="courses" style="display: none;">
                        <h3 style="display: inline-block;">@Html.Raw(firstName)'s Courses</h3>
                        @Html.Partial("ProfileCoursesTabView", Model.Courses)
                    </div>
                    
                    <div id="about" style="display: none;">
                        <h3 style="display: inline-block;">About @Html.Raw(firstName)</h3>
                        @*if user, then edit privileges*@
                        @if (Membership.GetUser().UserName == Model.UserName)
                        {
                            @Html.Partial("ProfileAboutTabViewWithEdit")
                            
                        }
                        else
                        {
                            @Html.Partial("ProfileAboutTabView")
                        }
                        <br />

                    </div>
                     
           
                }

                else
                {
                    <div style="font-weight: bold; border-radius: 4px; border: 1px solid #ccc; padding: 4px 10px; color: dimGray; background: #eee; margin-bottom: 5px; margin-bottom: 5px;">
                        User Account is not activated.
                    </div>
            
                }
            </div>
        </div>


    </div>
    <div class="row">
        @Html.Partial("_Footer")
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        function filterPath(string) {
            return string
              .replace(/^\//, '')
              .replace(/(index|default).[a-zA-Z]{3,4}$/, '')
              .replace(/\/$/, '');
        }
        var locationPath = filterPath(location.pathname);
        var scrollElem = scrollableElement('html', 'body');

        $('a[href*=#]').each(function () {
            var thisPath = filterPath(this.pathname) || locationPath;
            if (locationPath == thisPath
            && (location.hostname == this.hostname || !this.hostname)
            && this.hash.replace(/#/, '')) {
                var $target = $(this.hash), target = this.hash;
                if (target) {
                    var targetOffset = $target.offset().top;
                    $(this).click(function (event) {
                        event.preventDefault();
                        $(scrollElem).animate({ scrollTop: targetOffset }, 400, function () {
                            location.hash = target;
                        });
                    });
                }
            }
        });

        // use the first element that is "scrollable"
        function scrollableElement(els) {
            for (var i = 0, argLength = arguments.length; i < argLength; i++) {
                var el = arguments[i],
                    $scrollElement = $(el);
                if ($scrollElement.scrollTop() > 0) {
                    return el;
                } else {
                    $scrollElement.scrollTop(1);
                    var isScrollable = $scrollElement.scrollTop() > 0;
                    $scrollElement.scrollTop(0);
                    if (isScrollable) {
                        return el;
                    }
                }
            }
            return [];
        }



    });

</script>


<script type="text/javascript">
    //scripts for the tabs on profile page
    function tabresponse(tab) {
        //document.getElementById('Form_Area').style.display = 'none'; //hide all forms
        document.getElementById('noticeboard').style.display = 'none';
        document.getElementById('photos').style.display = 'none';
        document.getElementById('about').style.display = 'none';
        document.getElementById('jobs').style.display = 'none';
        document.getElementById('courses').style.display = 'none';
        document.getElementById('publications').style.display = 'none';
        document.getElementById('li_noticeboard').setAttribute("class", "");
        document.getElementById('li_photos').setAttribute("class", "");
        document.getElementById('li_about').setAttribute("class", "");
        document.getElementById('li_publications').setAttribute("class", "");
        document.getElementById('li_jobs').setAttribute("class", "");
        document.getElementById('li_courses').setAttribute("class", "");


        if (tab == 'noticeboard') {

            document.getElementById('noticeboard').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "current");
        }

        if (tab == 'photos') {
            document.getElementById('photos').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "current");
        }

        if (tab == 'about') {
            document.getElementById('about').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "current");
        }

        if (tab == 'publications') {
            document.getElementById('publications').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "current");
        }

        if (tab == 'jobs') {
            document.getElementById('jobs').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "current");
        }

        if (tab == 'courses') {
            document.getElementById('courses').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "current");
        }

        else {
            return;
        }
    }


</script>


