@model FollowPeers.Models.UserProfile 
@{
    ViewBag.Title = @Model.FirstName + " " + @Model.LastName + " Update Files and Publications";
}
@Html.Partial("_Header")
<div class="container">
    @Html.Partial("_SideBar1")
    <div class="upload_file span9 main-content">
        @using (Html.BeginForm("UploadFile", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserProfileId)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.activated)
 
   
            <div>
                <Div>
                   @{
            string name = Model.FirstName;
                   }
                    Photos
                    <div style="float:right;">
                         @using (Html.BeginForm("UploadPhotoFile", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
                    
            {
                <a style=" position: relative; left: 50px; top: 10px;">Browse Files</a>
                <input type='file' name='photo' id='photo' style="position: relative; left: -40px; top:10px; width: 80px; height: 30px; opacity: 0;" />
                
                    <input class="btn btn-primary" type="submit" name="submit" value="Upload" style="float:right;"/>
                
                
            }
                    </div>
                   
                </Div>
                <hr />
                
                @{
            string path = HttpRuntime.AppDomainAppPath;
            string newpath = path + "\\Content\\Files\\";
            string userpath = newpath + Model.UserName + "\\";
            var directoryInfo = new DirectoryInfo(userpath);
            if (directoryInfo.Exists)
            {
                string[] photoFiles = Directory.GetFiles(userpath);
                if (photoFiles == null || photoFiles.Length == 0)
                {
                                
                    <p>There are no uploaded files</p>
                                    
                }

                else
                {
                    foreach (string fileName in photoFiles)
                    {
                            
                    <div class="span2">
                        <p>
                            <a href="">
                                <img src="filename" style="width: 200px; height: 200px;" /></a>
                        </p>
                        <p>
                            @Html.ActionLink("Download", "Download", new { downloadPath = newpath + Model.UserName + "\\" + fileName })
                            @Html.ActionLink("Delete", "Delete_File", new { delPath = newpath + Model.UserName + "\\" + fileName })
                        </p>
                    </div>
                            
                    }
                }
            }

            else
            {
                    <p>There are no uploaded files</p> 
            }
                }
            </div>
        }

    </div>
</div>


