@model FollowPeers.Models.UserProfile 
@{
    ViewBag.Title = @Model.FirstName + " " + @Model.LastName + " Update Files and Publications";
}
@Html.Partial("_Header")
<div class="container">
    @Html.Partial("_SideBar1")
    <div class="upload_file span9 main-content">
        @using (Html.BeginForm("UploadFile", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserProfileId)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.activated)
 
   
            <p>
                <table id="myDataTable" class="table table-hover" style="float: right; padding: 3px 8px; cursor: pointer;">
                    <thead>
                        <tr>
                            <th>Photos
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
            string path = HttpRuntime.AppDomainAppPath;
            string newpath = path + "\\Content\\Files\\";
            string userpath = newpath + Model.UserName + "\\";
            var directoryInfo = new DirectoryInfo(userpath);
            if (directoryInfo.Exists)
            {
                string[] photoFiles = Directory.GetFiles(userpath);
                if (photoFiles == null || photoFiles.Length == 0)
                {
                                
                            <p>There are no uploaded files</p>
                                    
                }

                else
                {
                    foreach (string fileName in photoFiles)
                    {
                            
                                <div class="span2">
                                    <p><a href="">
                                        <img src="filename" style="width: 200px; height: 200px;" /></a></p>
                                    <p>
                                        @Html.ActionLink("Download", "Download", new { downloadPath = newpath + Model.UserName + "\\" + fileName })
                                        @Html.ActionLink("Delete", "Delete_File", new { delPath = newpath + Model.UserName + "\\" + fileName })
                                    </p>
                                </div>
                            
                    }
                }
            }

            else
            {
                            <p>There are no uploaded files</p> 
            }
                        }
                    </tbody>
                </table>
            </p>
        }

    </div>
</div>


