@model FollowPeers.Models.Jobs
@using FollowPeers.Models;
@{
    ViewBag.Title = "Job Details";
}
@Html.Partial("_Header")
@{
    FollowPeers.Models.FollowPeersDBEntities followPeersDB = new FollowPeers.Models.FollowPeersDBEntities();
    string name = Membership.GetUser().UserName;
    ViewBag.UserName = name;
    FollowPeers.Models.UserProfile myprofile = followPeersDB.UserProfiles.First(p => p.UserName == name);
}
<div class="container">
    <div class="row">

        @Script("jquery.validate.min.js")
        @Script("jquery.validate.unobtrusive.min.js")
        @Script("jquery.bgiframe.js")
        @Script("jquery.mcdropdown.js")
        <link rel="stylesheet" type="text/css" href="../../Content/css/jquery.mcdropdown.css" />
        <link href="../../Content/css/jquery-ui.css" rel="stylesheet" type="text/css" />
        <div class="span9">
            @*-----------JobId-----------*@
            @Html.HiddenFor(model => model.JobId)
            @*-----------OwnerID-----------*@
            @Html.HiddenFor(model => model.ownerID)
            <div class="box" style="border: 1px solid #eee; padding-left: 5px;">
                <h3>@Html.DisplayFor(model => model.Title)</h3>
                <h4>@Html.DisplayFor(model => model.Company)   |   @Html.DisplayFor(model => model.Country)</h4>
            </div>

            <fieldset><legend>Description</legend></fieldset>
            @Html.DisplayFor(model => model.Description)

            <fieldset><legend>Requirements</legend></fieldset>
            @Html.DisplayFor(model => model.Requirements)

            <fieldset><legend>More Details</legend></fieldset>
            <table>
                <tr>
                    <td style="font-weight: bold">Experience:    </td>
                    <td>@Html.DisplayFor(model => model.Experience)</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Type:  </td>
                    <td>@Html.DisplayFor(model => model.Type)</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Industry:  </td>
                    <td>@Html.DisplayFor(model => model.Industry)</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Contact:  </td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td style="font-weight: bold; color: red">Application Closes:    </td>
                    <td>@Html.DisplayFor(model => model.publishDate)</td>
                </tr>
            </table>
        </div>

        <div class="span3" style="text-align: left; border-left: 1px solid #eee; padding-left: 10px;">
            <div class="scrollspy" data-spy="scroll" data-target=".navlist" style="margin-left: 5px">

                @{
                    if (myprofile.UserProfileId == Model.ownerID)
                    {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) <text>|</text>
                    <button style="color:red; border:none; background: none; padding:0;" onclick="confirmDelete(@Model.JobId, @Model.ownerID)">Delete</button>
                    <br />
                    <br />
                    }

                    Favourite SavedJob = followPeersDB.Favourites.SingleOrDefault(p => p.UserProfile.UserProfileId == myprofile.UserProfileId && p.ItemType == 4 && p.ItemTypeId == @Model.JobId);
                    bool favMatchedSaved = false;

                    if (SavedJob != null)
                    {
                        favMatchedSaved = true;
                    }


                    if (favMatchedSaved == true)
                    { //tracking this job
                    <form action="/Jobs/UnSaveJob" method="post" style="margin: 0">
                        <input type="hidden" name="id" value="@Model.JobId" />
                        <span class="label label-default" style="background-color: white; color: black">
                            <input type="image" src="../../Content/images/icons/16x16/cross.png" value="submit" />
                            Stop Tracking
                        </span>
                    </form>
                        
                    }
                    else
                    { //not tracking this job
                    <form action="/Jobs/SaveJob" method="post" style="margin: 0">
                        <input type="hidden" name="id" value="@Model.JobId" />
                        <input type="hidden" name="Jobname" value="@Model.Title" />
                        <span class="label label-default" style="background-color: white; color: black">
                            <input type="image" src="../../Content/images/icons/16x16/accept.png" value="submit" />
                            Track Job
                        </span>
                    </form>
                        
                    }
                    <br />
                    <br />
                    
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")
@helper Script(string scriptName)
{
    <script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}

<script type="text/javascript" language="javascript">

    function confirmDelete(pubId, ownerId) {
        var r = confirm("Are you sure you want to Delete this publication?");
        if (r == true) {
            $.post("@Url.Action("Delete", "Jobs")", { id: pubId }, function () { window.location = "/Profile/Index/" + ownerId; });
        }
        else {
        }
    }

    $("#Save_it").click(function () {
        // Get publication ID
        var id1 = $("#JobId").val();
        // Send Ajax Request
        $.ajax({
            type: "POST",
            url: "/Jobs/AppliedJob",
            data: "ID=" + id1,
            success: function () {
                alert('Applied');
            }
        });
    });

    $("#Click2").click(function () {
        var pubId = $("#JobId").val();
        var ID = $("#Recommend2").val();
        $.ajax({
            type: "POST",
            url: "/Jobs/Recommend",
            data: { id: pubId, NameId: ID },
            success: function () {
                alert('Recommendation has been sent to user:');
                window.history.back(-1);
            }
        });
    });


    $("#Click1").click(function () {
        var pubId = $("#JobId").val();
        var ID = $("#Recommend").val();
        $.ajax({
            type: "POST",
            url: "/Jobs/Recommend",
            data: { id: pubId, NameId: ID },
            success: function () {
                alert('Recommendation has been sent');
                window.history.back(-1);
            }
        });
    });

    $("#unbookmark_it").click(function () {
        // Get publication ID
        var id2 = $("#publicationIdAJAX").val();
        // Send Ajax Request
        $.ajax({
            type: "POST",
            url: "/PublicationModel/DeleteBookmark",
            data: "ID=" + id2,
            success: function () {
                alert('Un-Bookmarked');
                window.history.back(-1);
            }
        });
    });

</script>
